<h1> Show me details </h1>
<nav>
  <a class="link" href="/">back home</a> /
  <a class="link" href="/colors/help">give me a hint</a>
</nav>

<ul>
  {{#each colors}}
<h1>{{colors.colorName}}</h1>
  {{/each}}
</ul>
