<h1>  </h1>
<nav>
  <a class="link" href="/colors/new">add color</a> /
  <a class="link" href="/colors/help">give me hint</a>
</nav>

<ul>
 {{#each colors}}
  <li class = "bulletsoff"><a href="/colors/{{id}}" >{{colorName}} {{hexValue}}</a></li>
 {{/each}}
</ul>
