html *
{
  background: #61BD6D;
  text-align: center;
  text-decoration: none;
}
 body {
 }
ul {
  list-style-type: none;
}
.bulletsoff {
  text-decoration:none;
}
img.logo{
  height: 60px;
  margin-right:10px;
}
